/*************************************
***** Color scheme for Dark theme *****
 *************************************/
:root {
  --background-color: #343A40;
  --background-color-dark: #22252C;
  --text-color: #C2C3C5;
  --secondary-content: #22958A;
  --border-bottom-color: #484D53;
}

body {
  background-color: var(--background-color-dark);
}

/* Sets the navbar color */
nav .nav-wrapper {
  background-color: var(--background-color);
}

/*****************************
***** Collection of items *****
 *****************************/

/* Sets the color around the list */
.collection {
  border-color: var(--background-color);
}

/* Sets the color of the item and the divider */
.collection .collection-item {
  background-color: var(--background-color);
  border-bottom-color: var(--border-bottom-color);
}

/* Sets the font color of the item name */
.collection a.collection-item {
  color: var(--text-color);
}

/* Sets the color of the item when the mouse hover over it */
.collection a.collection-item:not(.active):hover {
  background-color: var(--background-color-dark);
}

/* Sets the color of the badge */
span.badge.new {
  background-color: var(--secondary-content);
}

/* Sets the waves effect color when click on a list item */
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(133, 136, 140, 0.65);
}

/***************
***** Modal *****
 ***************/

/* Sets the modal color */
.modal .modal-content, .modal .modal-footer, .modal .modal-footer .modal-action {
  color: var(--text-color);
  background-color: var(--background-color);
}

/***************************
***** Seed Variety Card *****
 ***************************/

/* Sets the card content background color */
.card-content {
  background-color: var(--background-color);
}

/* Sets the color of the 'usages' link */
.card-content a {
  color: var(--secondary-content);
}

/* Sets the color and size of the card title */
.card-content .card-title {
  width: 95%; /* Sets the size of the card title to keep the options icon on the right */
  color: var(--text-color);
}

/* Sets the color and the cursor type for the card options icon */
.card-content .dropdown-button {
  cursor: pointer;
  color: var(--text-color);
}

/****************************
***** Seed Starter Table *****
 ****************************/

/* Sets the table background color */
.card.table {
  background-color: var(--background-color);
  padding: 10px;
}

/* Sets the font color of the data on the table */
.card.table th, td {
  color: var(--text-color);
}

/* Sets the color of the table row when the mouse hover over it */
.card.table table.highlight > tbody > tr:hover {
  background-color: var(--background-color-dark);
}

/* Sets the color of the item divider of the table */
.card.table table.bordered > thead > tr, .card.table table.bordered > tbody > tr {
  border-bottom: 1px solid var(--border-bottom-color);
}

/***************************
***** Seed Starter Form *****
 ***************************/

h5, .table th,
  /* Sets the text color of the 'select' input */
.select-dropdown,
  /* Sets the text color of the date picker input */
.datepicker {
  color: var(--text-color);
}

/* Sets the appearance of the suggestion text */
blockquote.suggestion-text {
  color: var(--text-color);
  border-left: 5px solid var(--secondary-content);
}
