/**************************************
***** Color scheme for Light theme *****
 **************************************/
:root {
  --background-color: #00C853;
}

/* Sets the navbar color */
nav .nav-wrapper {
  background-color: var(--background-color);
}

/***************************
***** Seed Variety Card *****
 ***************************/

/* Sets the size of the card title to keep the options icon on the right */
.card-content .card-title {
  width: 95%;
}

/* Sets the cursor type for the card options icon */
.card-content .dropdown-button {
  cursor: pointer;
}

/****************************
***** Seed Starter Table *****
 ****************************/

/* Sets the table padding */
.card.table {
  padding: 10px;
}

/* Defines the appearance of the delete icon of the seed starter */
.card.table i.tooltipped {
  border-radius: 50%;
  transition: background-color 150ms linear;
}

/* Defines the appearance of the delete icon of the seed starter when the mouse hovers over it */
.card.table i.tooltipped:hover {
  background-color: #424242;
  border-radius: 50%;
  color: white;
}

/* Decreases the size of the sk-cube-grid into the dialog */
.dialog-loading .sk-cube-grid {
  margin: 10% auto 0 !important;
}

/***************************
***** Seed Starter Form *****
 ***************************/

/* Sets the appearance of the suggestion text */
blockquote.suggestion-text {
  border-left: 5px solid teal;
}
