<ng-container *ngIf="hasFeatures">
  <app-simple-list [listItems]="features"
                   (onListItemClicked)="openFeatureDialog($event)">
  </app-simple-list>
</ng-container>

<!-- add feature - modal trigger -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal waves-effect" [ngClass]="{'pulse': !hasFeatures}"
     (click)="openAddDialog()">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- add/edit feature - modal structure -->
<app-simple-dialog #featureDialog>
  <ng-container modal-content>
    <h4>Feature</h4>
    <div class="row">
      <div class="input-field col s12">
        <input id="input-name" type="text" [formControl]="inputName" #inputNameRef
               appInputWithValidation [control]="inputName" [errorMessages]="errorMessages">
        <label for="input-name" class="input-error-label" #inputNameLabelRef>Feature</label>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <a class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
    <a class="modal-action waves-effect waves-red btn-flat" *ngIf="isEditing"
       (click)="deleteFeatureDialog.open()">Delete</a>
    <a class="modal-action waves-effect waves-green btn-flat" (click)="addFeature()">Save</a>
  </ng-container>
</app-simple-dialog>

<app-simple-dialog #deleteFeatureDialog *ngIf="hasFeatures">
  <ng-container modal-content>
    <div class="row">
      <div class="input-field col s12">
        <ng-container *ngIf="latestFeatureClicked?.uses">
          <p>
            <b>"{{latestFeatureClicked?.name}}"</b> cannot be deleted because it's currently in
            use by some seed starter, you should delete the seed starter(s) before delete it.
          </p>
        </ng-container>

        <ng-container *ngIf="!latestFeatureClicked?.uses">
          <h4>Delete "{{latestFeatureClicked?.name}}" ?</h4>
          <p>
            <b>"{{latestFeatureClicked?.name}}"</b> will be removed from the feature list and
            <b>this operation cannot be undone</b>. You are really want delete this feature?
          </p>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <ng-container *ngIf="latestFeatureClicked?.uses">
      <a class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
      <!-- TODO: find all seed starters that uses the clicked feature and show them when user clicks on "View Seed Starters" -->
      <a class="modal-action waves-effect waves-light btn-flat">View Seed Starters</a>
    </ng-container>

    <ng-container *ngIf="!latestFeatureClicked?.uses">
      <a class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
      <a class="modal-action waves-effect waves-red btn-flat" (click)="deleteFeature()">Delete</a>
    </ng-container>
  </ng-container>
</app-simple-dialog>
