<div class="row">
  <!-- TODO: Show the proper image when has don't have any seed variety -->
  <masonry class="col s12" [options]="{itemSelector: '.card', gutter: 10}" *ngIf="varieties">
    <masonry-brick class="card z-depth-2" style="width: 250px; margin-bottom: 5px" *ngFor="let variety of varieties; index as i">
      <div class="card-image" *ngIf="variety.imageName">
        <img src="/api/variety/image/{{variety.imageName}}">
      </div>

      <div class="card-content">
        <div style="display: flex">
          <span class="card-title tooltipped truncate" data-position="bottom" data-delay="50"
                [attr.data-tooltip]="variety.name">{{variety.name}}</span>

          <!-- TODO: Add a circular waves-effect for the icon -->
          <!-- Dropdown trigger -->
          <i class="dropdown-button material-icons" [attr.data-activates]="'dropdown-card-options-' + i">more_vert</i>

          <!-- Dropdown structure -->
          <ul [attr.id]="'dropdown-card-options-' + i" class='dropdown-content'>
            <li (click)="deleteVariety(variety)"><a>Delete</a></li>
          </ul>
        </div>
        <a *ngIf="variety.uses">{{variety.uses}} usage</a>
      </div>
    </masonry-brick>
  </masonry>
</div>

<!-- add material type - modal trigger -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal waves-effect" [ngClass]="{'pulse': !varieties}" (click)="addSeedVarietyDialog.open()">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- add material - modal structure -->
<app-simple-dialog #addSeedVarietyDialog>
  <ng-container modal-content>
    <h4>Add a new Seed Variety</h4>
    <div class="row valign-wrapper">
      <div class="col s3">
        <!-- TODO: Find/make a better placeholder image -->
        <img id="img-variety" class="circle" src="../../assets/images/ic_add_photo_white.svg"
             (click)="inputSeedVarietyImageFile.click()" #seedVarietyImage/>
        <i class="material-icons" style="cursor: pointer" (click)="removeLastSelectedImage()">close</i>
        <input type="file" accept="image/jpeg,image/png" style="display: none"
               (change)="onSeedVarietyImageSelected($event)" #inputSeedVarietyImageFile>
      </div>

      <div class="input-field col s9">
        <input id="input-name" type="text" [formControl]="inputName" [class]="getInputFieldClass(inputName)" #inputNameRef>
        <label for="input-name" appInputErrorLabel labelText="Seed Variety" #inputNameLabelRef
               [inputErrors]="inputName.errors" [errorMessages]="errorMessages"></label>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <a class="modal-action modal-close waves-effect waves-light btn-flat" (click)="onAddSeedVarietyCancelled()">Cancel</a>
    <a class="modal-action waves-effect waves-green btn-flat" (click)="addSeedVariety()">Add</a>
  </ng-container>
</app-simple-dialog>
