/* Defines the appearance of the error label of the input controls */
.input-error-label:after {
  content: attr(data-error);
  color: #F44336;
  font-size: 0.8rem;
  position: relative;
  top: 35px;
  right: 75px;
}

/* Sets the font of the suggestion text */
.suggestion-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: initial;
}

/* Sets the position of the Materialize Toast, to be displayed on the right
   top of the screen in medium size screens. */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    top: 10% !important;
    right: 7% !important;
    left: unset !important;
  }
}

/* Specific color for display error messages on the Materialize toast */
.toast-error {
  color: #F44336;
}

/* Sets the font size of the text inside a dialog */
.dialog-message {
  font-size: 1.1rem;
}
