<ng-container *ngIf="hasMaterials">
  <app-simple-list [listItems]="materials"
                   (onListItemClicked)="openEditDialog($event)">
  </app-simple-list>

  <!-- edit material - modal structure -->
  <app-simple-dialog #editMaterialDialog>
    <ng-container modal-content>
      <div class="row">
        <div class="input-field col s12">
          <input id="input-edit-name" type="text" [formControl]="inputEditName" #inputEditNameRef
                 [class]="getInputFieldClass(inputEditName)">
          <label for="input-edit-name" appInputErrorLabel labelText="Material Type"
                 #inputEditNameLabelRef
                 [inputErrors]="inputEditName.errors" [errorMessages]="errorMessages">
          </label>
        </div>
      </div>
    </ng-container>
    <ng-container modal-footer>
      <a class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
      <a class="modal-action waves-effect waves-green btn-flat" (click)="updateMaterial()">Done</a>
    </ng-container>
  </app-simple-dialog>
</ng-container>

<!-- add material type - modal trigger -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal waves-effect" [ngClass]="{'pulse': !hasMaterials}"
     (click)="addMaterialDialog.open()">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- add material - modal structure -->
<app-simple-dialog #addMaterialDialog>
  <ng-container modal-content>
    <h4>Add a new Material Type</h4>
    <div class="row">
      <div class="input-field col s12">
        <input id="input-name" type="text" [formControl]="inputName" #inputNameRef
               [class]="getInputFieldClass(inputName)">
        <label for="input-name" appInputErrorLabel labelText="Material Type" #inputNameLabelRef
               [inputErrors]="inputName.errors" [errorMessages]="errorMessages">
        </label>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <a class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
    <a class="modal-action waves-effect waves-green btn-flat" (click)="addMaterial()">Add</a>
  </ng-container>
</app-simple-dialog>
