/* Adjusts the logo container to have the same height as the navbar */
nav .brand-logo {
  height: 100%;
}

/* Adjusts the logo size and position inside the navbar */
nav .nav-wrapper .brand-logo img {
  width: 64px;
  height: 64px;
}
